<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Wynik dodawania</title>
    <link rel="stylesheet" href="/main.css" />
    <!--    <style type="text/css">-->
    <!--    span {-->
    <!--        display: inline-block;-->
    <!--        width: 200px;-->
    <!--        text-align: left;-->
    <!--    }-->
    <!--</style>-->
</head>
<body>
<div align="center">
    <h1>Wyniki:</h1>
    <span>Liczba pierwsza:</span><span th:text="${user.a}"></span><br/>
    <span>Liczba druga:</span><span th:text="${user.b}"></span><br/>
    <br>
    <span>Dodawanie:</span><span th:text="${user.add}"></span><br/>
    <button><a href="/" class="btn right">Powrot</a></button>
<!--    <span>Odejmowanie:</span><span th:text="${user.sub}"></span><br/>-->
<!--    <span>Mnozenie:</span><span th:text="${user.multi}"></span><br/>-->
<!--    <span>Dzielenie:</span><span th:text="${user.div}"></span><br/>-->
    <!--    <span>B:</span><span th:text="${user.b}"></span><br/>-->
</div>
</body>
</html>