<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <!--    <link th:href = "@{/css/main.css}" rel="stylesheet">-->
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<div align="center">
    <h1>Kalkulator</h1>
    <form action="#" th:action="@{/dzielenie}" method="post" th:object="${user}">
        <label>A:</label>
        <input type="text" th:field="*{a}" /><br/>

        <label>B:</label>
        <input type="text" th:field="*{b}" /><br/>
        <br/>

        <button type="submit">Oblicz</button>
        <button type="reset">Kasuj</button>
    </form>

</div>
</body>
</html>