<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Kalkulator</h1>
<!--<button><a href="/dodawanie" class="btn right">Dodawanie</a></button><br/>-->
<!--<button><a href="/odejmowanie" class="btn right">Odejmowanie</a></button><br/>-->
<!--<button><a href="/mnozenie" class="btn right">Mnozenie</a></button><br/>-->
<!--<button><a href="/dzielenie" class="btn right">Dzielenie</a></button><br/>-->

<form action="#" th:action="@{/}" method="post" th:object="${user}">
    <label>A:</label>
    <input type="text" th:field="*{a}" /><br/>

    <label>B:</label>
    <input type="text" th:field="*{b}" /><br/>
    <br/>
    <input type="submit" value="+" name="name"/>&nbsp;
    <input type="submit" value="-" name="name"/>&nbsp;
    <input type="submit" value="*" name="name"/>&nbsp;
    <input type="submit" value="/" name="name"/><br/>
<!--    <button type="reset">Kasuj</button>-->
</form>

<div align="center">
    <h1>Wyniki:</h1>
    <div th:switch="${user.C}">
        <p th:case="'+'"><span>Dodawanie:</span><span th:text="${user.add}"></span></p>
        <p th:case="'-'"><span>Odejmowanie:</span><span th:text="${user.sub}"></span></p>
        <p th:case="'*'"><span>Mnożenie:</span><span th:text="${user.multi}"></span></p>
        <p th:case="'/'"><span>Dzielenie:</span><span th:text="${user.div}"></span></p>
        <p th:case="*"> </p>
    </div>
<!--    <span th:if="${user.C == '+'}"><span>Dodawanie:</span><span th:text="${user.add}"></span></span><br/>-->
<!--    <span th:if="${user.C == '-'}"><span>Odejmowanie:</span><span th:text="${user.sub}"></span></span><br/>-->
<!--    <span th:if="${user.C == '*'}"><span>Mnożenie:</span><span th:text="${user.multi}"></span></span><br/>-->
<!--    <span th:if="${user.C == '/'}"><span>Dzielenie:</span><span th:text="${user.div}"></span></span><br/>-->
    <button><a href="/" class="btn right">Zeruj</a></button>
</div>

</body>
</html>